RewriteEngine On
RewriteBase /

# check if (static) file exists inside /subdir
RewriteRule ^assets/(.*)$ cauditor/assets/$1 [L,QSA]

# route dynamic requests to application.py
RewriteCond %{REQUEST_URI} !^$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ application.py [L]

# home
RewriteRule ^$ application.py [L]

# config
SetEnv RDS_USERNAME
SetEnv RDS_PASSWORD
SetEnv RDS_DB_NAME
SetEnv RDS_HOSTNAME
SetEnv RDS_PORT
SetEnv S3_BUCKET
SetEnv S3_ACCESS_KEY
SetEnv S3_SECRET_KEY
# https://github.com/settings/applications/181928
SetEnv GITHUB_ID
SetEnv GITHUB_SECRET
