RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_URI} !^$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) application.py [NC,L]
RewriteRule ^$ application.py [L]
