mysql:
    user:
    pass:
    db:
    host:

github:
    # https://github.com/settings/applications/181928
    id:
    secret:
    # https://developer.github.com/v3/oauth/#scopes
    scopes: user:email,repo,write:repo_hook

graphs:
    -
        code: "ccn"
        name: "Cyclomatic Complexity"
        file: "/assets/js/visualizations/treemap/CyclomaticComplexity.js"
        class: "Codecharts.Visualization.Treemap.CyclomaticComplexity"
    -
        code: "npath"
        name: "Npath Complexity"
        file: "/assets/js/visualizations/treemap/NpathComplexity.js"
        class: "Codecharts.Visualization.Treemap.NpathComplexity"
    -
        code: "wmc"
        name: "Weighted Metric Count"
        file: "/assets/js/visualizations/treemap/WeightedMetricCount.js"
        class: "Codecharts.Visualization.Treemap.WeightedMetricCount"
    -
        code: "dit"
        name: "Depth Inheritance Tree"
        file: "/assets/js/visualizations/treemap/DepthInheritanceTree.js"
        class: "Codecharts.Visualization.Treemap.DepthInheritanceTree"
    -
        code: "cr"
        name: "Code Rank"
        file: "/assets/js/visualizations/treemap/CodeRank.js"
        class: "Codecharts.Visualization.Treemap.CodeRank"
    -
        code: "ca"
        name: "Afferent Coupling"
        file: "/assets/js/visualizations/treemap/AfferentCoupling.js"
        class: "Codecharts.Visualization.Treemap.AfferentCoupling"
    -
        code: "ce"
        name: "Efferent Coupling"
        file: "/assets/js/visualizations/treemap/EfferentCoupling.js"
        class: "Codecharts.Visualization.Treemap.EfferentCoupling"
    -
        code: "i"
        name: "Instability"
        file: "/assets/js/visualizations/treemap/Instability.js"
        class: "Codecharts.Visualization.Treemap.Instability"

session:
    # 30 days (30 * 24 * 60 * 60 seconds)
    max_age: 2592000
