mysql:
    user:
    pass:
    db:
    host:

github:
    # https://github.com/settings/applications/181928
    id:
    secret:
    # https://developer.github.com/v3/oauth/#scopes
    scopes: user:email,repo,write:repo_hook

charts:
    -
        code: "ccn"
        name: "Cyclomatic Complexity"
        file: "/assets/js/visualizations/treemap/CyclomaticComplexity.js"
        class: "QualityControl.Visualization.Treemap.CyclomaticComplexity"
    -
        code: "npath"
        name: "Npath Complexity"
        file: "/assets/js/visualizations/treemap/NpathComplexity.js"
        class: "QualityControl.Visualization.Treemap.NpathComplexity"
    -
        code: "mi"
        name: "Maintainability Index"
        file: "/assets/js/visualizations/treemap/MaintainabilityIndex.js"
        class: "QualityControl.Visualization.Treemap.MaintainabilityIndex"
    -
        code: "he"
        name: "Halstead Effort"
        file: "/assets/js/visualizations/treemap/HalsteadEffort.js"
        class: "QualityControl.Visualization.Treemap.HalsteadEffort"
    -
        code: "hi"
        name: "Halstead Intelligent Content"
        file: "/assets/js/visualizations/treemap/HalsteadIntelligentContent.js"
        class: "QualityControl.Visualization.Treemap.HalsteadIntelligentContent"
    -
        code: "dit"
        name: "Depth of Inheritance Tree"
        file: "/assets/js/visualizations/treemap/DepthInheritanceTree.js"
        class: "QualityControl.Visualization.Treemap.DepthInheritanceTree"
    -
        code: "ca"
        name: "Afferent Coupling"
        file: "/assets/js/visualizations/treemap/AfferentCoupling.js"
        class: "QualityControl.Visualization.Treemap.AfferentCoupling"
    -
        code: "ce"
        name: "Efferent Coupling"
        file: "/assets/js/visualizations/treemap/EfferentCoupling.js"
        class: "QualityControl.Visualization.Treemap.EfferentCoupling"
    -
        code: "i"
        name: "Instability"
        file: "/assets/js/visualizations/treemap/Instability.js"
        class: "QualityControl.Visualization.Treemap.Instability"

session:
    # 30 days (30 * 24 * 60 * 60 seconds)
    max_age: 2592000

analyzers:
    repo_path: /tmp/repos/
    pdepend_path: /tmp/pdepend/
    data_path: data/
