mysql:
    user:
    pass:
    db:
    host:

github:
    # https://github.com/settings/applications/181928
    id:
    secret:
    # https://developer.github.com/v3/oauth/#scopes
    scopes: user:email,repo,write:repo_hook

charts:
    -
        code: "ccn"
        name: "Cyclomatic Complexity"
        files: ["/assets/js/visualizations/treemap/Method.js"]
        class: "QualityControl.Visualization.Treemap.Method"
        # 1-4 green-ish; 5-7 yellow-ish; 8-10: orange-ish; 10+: red
        # @see http://phpmd.org/rules/codesize.html#npathcomplexity
        range: [0, 6, 11]
    -
        code: "hi"
        name: "Halstead Intelligent Content"
        files: ["/assets/js/visualizations/treemap/Method.js"]
        class: "QualityControl.Visualization.Treemap.Method"
        range: [0, 30, 60]
    -
        code: "mi"
        name: "Maintainability Index"
        files: ["/assets/js/visualizations/treemap/Method.js"]
        class: "QualityControl.Visualization.Treemap.Method"
        # 100-20 is considered ok; 20-10 suspicious; 10-0 bad
        # given the long green range and very low threshold, things can start to turn orange-ish a bit earlier
        # @see http://blogs.msdn.com/b/codeanalysis/archive/2007/11/20/maintainability-index-range-and-meaning.aspx
        range: [75, 30, 20]
    -
        code: "ca"
        name: "Afferent Coupling"
        files: ["/assets/js/visualizations/treemap/Class.js"]
        class: "QualityControl.Visualization.Treemap.Class"
        # being used by lots of other packages can signify the class isn't independent enough
        # being high means having a lot of impact on the codebase, lots of others depend on you
        range: [0, 5, 10]
    -
        code: "ce"
        name: "Efferent Coupling"
        files: ["/assets/js/visualizations/treemap/Class.js"]
        class: "QualityControl.Visualization.Treemap.Class"
        # using lots of other packages can signify the class has too much responsibilities
        range: [0, 10, 20]
    -
        code: "i"
        name: "Instability"
        files: ["/assets/js/visualizations/treemap/Class.js", "/assets/js/visualizations/treemap/Instability.js"]
        class: "QualityControl.Visualization.Treemap.Instability"
        # range from 0 to 1, with 0 indicating a package very resilient to change in
        # dependency classes; 1 being very unstable
        # going with green-ish for 70% of the index so only the really problematic
        # parts light up (it's pretty easy to score very high on this metric)
        range: [0, .7, .8]

session:
    # 30 days (30 * 24 * 60 * 60 seconds)
    max_age: 2592000

analyzers:
    repo_path: /tmp/repos/
    pdepend_path: /tmp/pdepend/
    data_path: data/
