html, body {
    padding: 0;
    margin: 0;
    background-color: #f8f8f8;
    height: 100%;
}

.navbar {
    background-color: #fff;
}

.navbar-nav > li > a.avatar {
    height: 50px;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar img {
    height: 100%;
    padding-right: 15px;
}

#content {
    /* navbar height, border & margin-bottom, and then some more */
    height: calc(100% - 50px - 2px - 20px - 15px);
}

.dimmed {
    opacity: 0.5;
    -moz-opacity: 0.5;
    -webkit-opacity: 0.5;
}

.dropdown-menu>li>a.active {
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato';
    text-transform: uppercase;
    font-weight: 100;
}
h1::first-letter, h2::first-letter, h3::first-letter, h4::first-letter, h5::first-letter, h6::first-letter {
    font-weight: 900;
}
h1 {
    font-size: 18px;
}
h1::first-letter {
    font-size: 20px;
}
h2 {
    font-size: 15px;
}
h2::first-letter {
    font-size: 17px;
}

.graph {
    display: inline-block;
    min-height: 400px;
    height: 100%;
    width: 100%;
}
