body {
    padding: 0;
    margin: 0;
}

#header {
    width: 100%;
}

.navbar-nav > li > a.avatar {
    height: 50px;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar img {
    height: 100%;
    padding-right: 15px;
}

.dimmed {
    opacity: 0.5;
    -moz-opacity: 0.5;
    -webkit-opacity: 0.5;
}


.dropdown-menu>li>a.active {
    font-weight: bold;
}

/* @todo replace all of this code below */
.column.small {
    display: inline-block;
    width: calc(33% - 3px);
    height: 300px;
    padding: 3px;
    box-sizing: border-box;
}

h1 {
    font-family: "Helvetica Neue", "HelveticaNeue", "Helvetica", "Arial", "sans-serif";
    font-size: 20px;
    margin: 10px 0 5px;
    padding: 0;
}

.graph {
    display: block;
}

/*
 * Add an invisible overlay to the small graphs; they're merely meant as a link
 * to the full version; I don't want them to display the informational tooltips.
 */
a span.graph:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
