@import "http://fonts.googleapis.com/css?family=Lato:300,400,700,900";

/* Nav & titles should get uppercase Lato */
.navbar ul li > a,
h1, h2, h3, h4, h5, h6 {
    font-family: Lato, Helvetica, arial, sans-serif;
    text-transform: uppercase;
    font-weight: 100;
}

/* Reformat title fonts */
h1 {
    font-weight: 300;
    margin-bottom: 15px;
}

h2 {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 15px;
}

h3 {
    font-size: 14px;
    text-transform: none;
    margin: 0;
}

/* Make bold really really bold */
strong {
    font-weight: 900;
}
