@import "//fonts.googleapis.com/css?family=Lato:300,400,700,900";

body {
    font-size: 16px;
}

/* Nav & titles should get uppercase Lato */
.navbar ul li > a,
.secondary-nav ul li > a,
h1, h2, h3, h4, h5, h6 {
    font-family: Lato, Helvetica, arial, sans-serif;
    text-transform: uppercase;
    font-weight: 100;
}

/* Reformat title fonts */
h1 {
    font-weight: 300;
    margin-bottom: 15px;
    font-weight: 900;
}

h2 {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 15px;
    font-weight: 900;
}

body[data-template="index.html"] h2,
body[data-template="index_logged_in.html"] h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
    margin: 15px 0 15px;
    font-weight: bold;
}

h4 {
    font-size: 16px;
    text-transform: none;
    font-weight: bold;
}

/* Make bold really really bold */
strong {
    font-weight: 900;
}

a, a:hover {
    text-decoration: none;
}
