a.navbar-brand {
    position: relative;
    text-indent: -9999px;

    width: 125px;
}

/*
 * Need ::before to hack around the fact that a background image
 * can't be bigger than the node it's on
 */
a.navbar-brand::after {
    content: "";
    width: 100px;
    height: 100px;

    /* Line up nicely, so bottom corners align with nav bottom */
    position: absolute;
    top: -6px;
    left: 15px;

    background: url(http://www.mullie.eu/public/assets/images/logo.png) no-repeat;
    background-size: 75px;
}

a.navbar-brand:hover {
    -webkit-filter: grayscale(50%);
    -moz-filter: grayscale(50%);
    -ms-filter: grayscale(50%);
    -o-filter: grayscale(50%);
    filter: grayscale(50%);
}
