/* Navbar links shouldn't have a colored background */
body ul.navbar-nav > li > a:hover {
    background-color: inherit !important;
}

/* Make it look as though navbar has a color (but it doesn't, not really) */
.navbar-fixed-top {
    /* Make navbar transparent */
    background-color: rgba(255, 255, 255, 0.7);
    border-color: #ddd;
}

/* Change font size */
nav,
nav .dropdown-menu,
.secondary-nav,
.secondary-nav .dropdown-menu {
    font-size: 16px;
}

/* Dropdown arrow should have some space */
nav i:last-child {
    padding-left: 5px;
}

nav .dropdown-menu i:last-child {
    padding-left: 0;
}

/* Padding & font-size shouldn't dictate navbar height */
nav a {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 50px !important;
    line-height: 50px !important;
}

/* User avatar should be full nav height and have no more padding on the right */
.nav > li > a.avatar {
    padding-right: 0;
}
.nav > li > a.avatar > img {
    height: inherit;
    padding-left: 10px;
    vertical-align: top;
}

/* Pull secondary nav in between primary nav & make it look similar */
.secondary-nav {
    z-index: 9999;
    /* Content preserves 70px for main header & we want to keep 15px, so pull it up only 55px */
    margin-top: -55px;
    margin-bottom: 50px;

    background-color: #fff;
    border: 1px solid #ddd;
    padding: 0 !important;

}

/* Justified will break off separate words & shorten the cell, but we don't want them to be split */
.secondary-nav .nav-justified a {
    white-space: nowrap;
    overflow: hidden;
}

/* Bigger "links" */
.secondary-nav > ul > li > a {
    line-height: 60px !important;
    height: 60px !important;
    padding: 0;
}
.secondary-nav ul.dropdown-menu a {
    padding-top: 12px;
    padding-bottom: 12px;
}
