/* Make fonts larger */
.navbar-nav, .navbar-nav .dropdown-menu > li > a {
    font-weight: 300;
    font-size: 16px;
}
.navbar-nav .dropdown-menu > li > a {
    font-size: 14px;
}

/* Active links in dropdown weren't discernible */
.dropdown-menu > li > a.active {
    font-weight: bold;
}

/* Navbar links may be considered "default" and shouldn't appear too prominent */
.dimmed {
    opacity: 0.5;
    -moz-opacity: 0.5;
    -webkit-opacity: 0.5;
}

/* User avatar should be full navbar height */
.navbar-nav > li > a.avatar {
    height: 50px;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar img {
    height: 100%;
    padding-right: 15px;
}

/* Take away border that would show up after the colored thingy we're appending after navbar */
nav.navbar {
    border-bottom: 0
}

nav.navbar::after {
    /* Reinstate the 1px border again */
    border-top: 1px solid;

    /* Using ::after + background, but some day (once properly supported) this should be border-image on .navbar */
    content: ' ';
    display: block;
    height: 4px;
    background: linear-gradient(90deg,
        #1F9B1F 100px, /* green */
        #FFF 100px, #FFF 105px,
        #F4BE00 105px, #F4BE00 155px, /* yellow */
        #FFF 155px, #FFF 160px,
        #1F9B1F 160px, #1F9B1F 260px, /* green */
        #FFF 260px, #FFF 265px,
        #F4BE00 265px, #F4BE00 315px, /* yellow */
        #FFF 315px, #FFF 320px,
        #F45800 320px, #F45800 420px, /* red */
        #FFF 420px, #FFF 425px,
        #1F9B1F 425px, #1F9B1F 525px, /* green */
        #FFF 525px, #FFF 530px,
        #F45800 530px, #F45800 580px, /* red */
        #FFF 580px, #FFF 585px,
        #F4BE00 585px, #F4BE00 685px, /* yellow */
        #FFF 685px, #FFF 690px,
        #1F9B1F 690px, #1F9B1F 790px, /* green */
        #FFF 790px, #FFF 795px,
        #F4BE00 795px, #F4BE00 845px, /* yellow */
        #FFF 845px, #FFF 850px,
        #F45800 850px, #F45800 950px, /* red */
        #FFF 950px, #FFF 955px
    ) repeat;
    background-size: 955px;
}
