/* Change font size */
nav,
nav .dropdown-menu {
    font-size: 13px;
}

/* Default inverse text color isn't bright enough (esp. when also .dimmed) */
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

/* Dropdown arrow should have some space */
nav i:last-child {
    padding-left: 5px;
}

/* Padding & font-size shouldn't dictate navbar height */
nav a {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 50px !important;
    line-height: 50px !important;
}

/* User avatar should be full nav height */
nav .avatar img {
    height: inherit;
    padding-right: 10px;
    vertical-align: top;
}

/* Background color for active links was some blue-ish, which doesn't go with the logo */
.dropdown-menu > .active > a {
    background: #fc7e3f !important;
}
