html, body {
    height: 100%;
}

.content {
    min-height: 100%;

    /* navbar height, border & margin-bottom */
    padding-top: calc(50px + 2px + 20px);

    /* footer height */
    margin-bottom: -70px;
}

/*
 * On chart pages, I'don't want the sticky footer to be visible.
 * I'd rather have the chart be slightly bigger and the footer be
 * just below the fold.
 */
body[data-template="graph.html"] .content {
    height: 100%;
    margin-bottom: 0;
}

.footer, .push {
    margin-top: 20px;
    height: 50px;
}
