@import "sticky-footer.css";
@import "font.css";
@import "navbar.css";
@import "logo.css";
@import "chart.css";

html, body {
    padding: 0;
    margin: 0;
    background-color: #F8F8F8;
}

/* I'm not too big on those rounded corners... */
* {
  border-radius: 0 !important;
}

.dimmed {
    opacity: 0.5;
    -moz-opacity: 0.5;
    -webkit-opacity: 0.5;
}

/* Temporary beta label */
body::before {
    content: "BETA";
    font-family: Lato, Helvetica, arial, sans-serif;
    font-weight: 100;
    font-size: 25px;
    line-height: 35px;
    text-align: center;

    color: red;
    background: #FFF;
    border: 1px solid #DDD;
    box-shadow: 1px 1px 3px #DDD;

    z-index: 9999;
    position: fixed;
    width: 250px;
    top: 15px;
    left: -85px;

    transform: rotate(-45deg);
}

/* Strip of logos */
.logo-strip {
    background-color: #FFF;
}
.logo-strip a {
    /* There are 6 logos in here - distribute them evenly */
    /* The -6 is for what I guess is rounding issues, because they seem to total >100% */
    width: calc(100% / 6 - 6px);
    margin: 0;
}
.logo-strip img {
    padding: 15px 20px;
    width: inherit;
}
.logo-strip img:not(:hover) {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.logo-strip img:hover {
    background: #F3F3F3;
}

/* Strips of charts */
.chart-row {
    padding: 20px 0 30px;
}
.chart-row:nth-of-type(odd) {
    background-color: #FFF;
}
