@import "sticky-footer.css";
@import "logo.css";
@import "chart.css";
@import "navbar-improvements.css";
@import "font.css";

html, body {
    padding: 0;
    margin: 0;
    background-color: #f8f8f8;
}
