<script src="/assets/js/vendor/d3.min.js" charset="utf-8"></script>
<script src="/assets/js/vendor/d3plus.min.js" charset="utf-8"></script>
<script src="/assets/js/QualityControl.js"></script>
<script src="/assets/js/visualizations/Data.js"></script>
<script src="/assets/js/visualizations/Abstract.js"></script>
<script src="/assets/js/visualizations/treemap/Abstract.js"></script>
{% for file in chart.files %}
    <script src="{{ file }}"></script>
{% endfor %}

{% if commits %}
    {% if not commit %}{% set commit = commits[0] %}{% endif %}
    <div class="chart"></div>

    <script>
        d3.json('/{{ analyzers.data_path }}/{{ project.name }}/{{ commit.hash }}.json', function(data) {
            var data = new QualityControl.Data(data),
                visualization = new {{ chart.class }}(data),
                chart = new QualityControl(visualization),
                tooltip = $.extend({}, visualization.tooltip, {'{{ chart.code }}': '{{ chart.name }}'});

            chart.draw('.chart', ['{{ chart.code }}', {{ chart.range }}, tooltip]);
        });
    </script>
{% else %}
    <div class="row">
        <div class="col-xs-12 columns">
            <div data-alert class="alert-box alert">
                <i class="fa fa-exclamation-circle"></i>
                Couldn't find any commits for {{ project.name }}. If it was recently added, it may be importing.
            </div>
        </div>
    </div>
{% endif %}
