<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Quality control{% if title %}: {{ title }}{% endif %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body data-template="{{ template }}">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                {# hamburger menu for collapsed mobile nav #}
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/"><strong>Code</strong>charts</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    {% if project %}
                        {% if not repos %}
                            <li><a><i class="fa fa-code-fork"></i> {{ project.name }}</a></li>
                        {% else %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-code-fork"></i> {{ project.name }} <span class="caret"></span></a>

                                {# show list of user's own repos #}
                                <ul class="dropdown-menu" role="menu">
                                    {% for repo in repos %}
                                        <li><a href="/{{ repo.project }}" {% if repo.project == project.name %}class="active"{% endif %}>{{ repo.project }}</a></li>
                                        {% if not loop.last %}<li class="divider"></li>{% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}

                        <li class="dropdown">
                            {% if not commit %}
                                <a href="#" class="dimmed dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-code"></i> HEAD <span class="caret"></span></a>
                            {% else %}
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-code"></i> {{ commit.hash|truncate(7, True, "") }} <span class="caret"></span></a>
                            {% endif %}

                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/{{ project.name }}" {% if not commit or commit.hash == commits[0].hash %}class="active"{% endif %}>HEAD</a></li>

                                {% for c in commits %}
                                    {# skip first commit, we're already showing it as HEAD #}
                                    {% if not loop.first %}
                                        <li class="divider"></li>
                                        <li><a href="/{{ project.name }}/{{ c.hash }}" {% if commit and commit.hash == c.hash %}class="active"{% endif %}>{{ c.hash|truncate(7, True, "") }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>

                        <li class="dropdown">
                            {% if not chart %}
                                <a href="#" class="dimmed dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-pie-chart"></i> Overview <span class="caret"></span></a>
                            {% else %}
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-pie-chart"></i> {{ chart.name }} <span class="caret"></span></a>
                            {% endif %}

                            <ul class="dropdown-menu" role="menu">
                                {% if not commit %}
                                    <li><a href="/{{ project.name }}" {% if not chart %}class="active"{% endif %}>Overview</a></li>
                                {% else %}
                                    <li><a href="/{{ project.name }}/{{ commit.hash }}" {% if not chart %}class="active"{% endif %}>Overview</a></li>
                                {% endif %}
                                <li class="divider"></li>

                                {% for g in charts %}
                                    {% if not commit %}
                                        <li><a href="/{{ project.name }}/{{ g.code }}" {% if chart and chart.code == g.code %}class="active"{% endif %}>{{ g.name }}</a></li>
                                    {% else %}
                                        <li><a href="/{{ project.name }}/{{ commit.hash }}/{{ g.code }}" {% if chart and chart.code == g.code %}class="active"{% endif %}>{{ g.name }}</a></li>
                                    {% endif %}
                                    {% if not loop.last %}<li class="divider"></li>{% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if not user %}
                        <li>
                            <a href="https://github.com/login/oauth/authorize?scope={{ github.scopes }}&client_id={{ github.id }}" class="avatar">
                                <img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png"> Sign in
                            </a>
                        </li>
                    {% else %}
                        <li class="dropdown">
                            <a href="#" class="avatar dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <img src="{{ user.avatar }}" /> {{ user.name }} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/user">Repos</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Stats</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Settings</a></li>
                                <li class="divider"></li>
                                <li><a href="/logout">Sign out</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="content container-fluid">
        {% include template %}

        <div class="push"></div>
    </div>

    <footer class="footer navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://www.mullie.eu">&copy; Matthias Mullie</a></li>
                <li><a href="https://twitter.com/matthiasmullie/" title="Matthias on Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/in/matthiasmullie" title="Matthias on LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://github.com/matthiasmullie" title="Matthias on GitHub"><i class="fa fa-github"></i></a></li>
                <li><a href="http://stackoverflow.com/users/802993/matthiasmullie" title="Matthias on StackOverflow"><i class="fa fa-stack-overflow"></i></a></li>
                <li><a href="http://www.mullie.eu/contact.html" title="Contact Matthias"><i class="fa fa-envelope"></i></a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
