<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{{ site.title }}{% if title %}: {{ title }}{% endif %}</title>

    <link rel="shortcut icon" type="image/png" sizes="32x32" href="/assets/img/favicon.ico">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/img/apple-touch-icon-152x152.png" />
    <meta name="application-name" content="Cauditor"/>
    <meta name="msapplication-TileColor" content="#79b31b" />
    <meta name="msapplication-TileImage" content="/assets/img/mstile-144x144.png" />

    <meta name="author" content="https://plus.google.com/u/0/114103174273569238978">
    <link rel="author" href="https://plus.google.com/u/0/114103174273569238978" />

    <meta name="description" content="{{ site.description }}" />

    <meta property="og:title" content="{{ site.title }}{% if title %}: {{ title }}{% endif %}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.host }}{{ uri }}" />
    <meta property="og:image" content="{{ site.host }}/assets/img/logo.png" />
    <meta property="og:site_name" content="{{ site.title }}" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ site.twitter }}" />
    <meta name="twitter:creator" content="@matthiasmullie" />
    <meta name="twitter:domain" content="{{ site.domain }}" />
    <meta name="twitter:title" content="{{ site.title }}{% if title %}: {{ title }}{% endif %}" />
    <meta name="twitter:description" content="{{ site.description }}" />
    <meta name="twitter:image" content="{{ site.host }}/assets/img/logo.png" />
    <meta name="twitter:url" content="{{ site.host }}{{ uri }}" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body data-template="{{ template }}">
    {% if site.ga %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '{{ site.ga }}', 'auto');
            ga('send', 'pageview');
        </script>
    {% endif %}

    <a id="beta" href="https://github.com/cauditor/issues/issues/new">BETA</a>

    <nav class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-bar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">{{ site.title }}</a>
            </div>

            <div class="collapse navbar-collapse" id="top-bar">
                <ul class="nav navbar-nav navbar-right">
                    {% if not user %}
                        <li>
                            <a href="https://github.com/login/oauth/authorize?scope={{ github.scopes }}&client_id={{ github.id }}&redirect_uri={{ site.host }}/user/login{{ uri }}" class="avatar">
                                Sign in <img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png">
                            </a>
                        </li>
                    {% else %}
                        <li class="dropdown">
                            <a href="#" class="avatar dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                {{ user.name }} <i class="fa fa-angle-down"></i> <img src="{{ user.avatar }}" />
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li {% if template == "user_repos.html" %}class="active"{% endif %}><a href="/user">Repos</a></li>
                                <li {% if template == "user_settings.html" %}class="active"{% endif %}><a href="/user/settings">Settings</a></li>
                                <li {% if template == "user_all_progress.html" or template == "user_progress.html" %}class="active"{% endif %}><a href="/user/progress">Progress</a></li>
                                <li {% if template == 'user_feedback.html' %}class="active"{% endif %}><a href="/user/feedback">Feedback</a></li>
                                <li><a href="/user/logout{{ uri }}">Sign out</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="content">
        {% include template %}

        <div class="push"></div>
    </div>

    <nav class="navbar footer" style="margin: 0; border: 0; background-color: #fff">
        <div class="container">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://www.mullie.eu">&copy; Matthias Mullie</a></li>
                <li><a href="https://twitter.com/matthiasmullie/" title="Matthias on Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/in/matthiasmullie" title="Matthias on LinkedIn"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://github.com/matthiasmullie" title="Matthias on GitHub"><i class="fa fa-github"></i></a></li>
                <li><a href="http://stackoverflow.com/users/802993/matthiasmullie" title="Matthias on StackOverflow"><i class="fa fa-stack-overflow"></i></a></li>
                <li><a href="http://www.mullie.eu/contact.html" title="Contact Matthias"><i class="fa fa-envelope"></i></a></li>
            </ul>
        </div>
    </nav>
</body>
</html>
