<script src="/assets/js/vendor/d3.min.js" charset="utf-8"></script>
<script src="/assets/js/vendor/d3plus.min.js" charset="utf-8"></script>
<script src="/assets/js/Codegraphs.js"></script>
<script src="/assets/js/visualizations/Abstract.js"></script>
<script src="/assets/js/visualizations/treemap/Abstract.js"></script>
<script src="/assets/js/visualizations/treemap/Class.js"></script>
<script src="/assets/js/visualizations/treemap/Method.js"></script>
<script src="{{ graph.file }}"></script>


{% if commits %}
    {% if not commit %}{% set commit = commits[0] %}{% endif %}

    <div class="graph"></div>

    <script>
        var graph = new Codegraphs('/data/{{ project.name }}/{{ commit.hash }}.json');
        graph.draw('.graph', new {{ graph.class }}());
    </script>
{% else %}
    <p>Couldn't find any commits for {{ project.name }}. If it was recently added, it may be importing.</p>
{% endif %}
