<div class="container">
    <div class="row">
        ...
    </div>

    <div class="row">
        <h2><strong>Projects</strong></h2>
    </div>
</div>

<div class="logo-strip">
    <div class="container">
        <div class="row">
            <a href="/WordPress/WordPress"><img src="/assets/img/wordpress.png" /></a>
            <a href="/laravel/laravel"><img src="/assets/img/laravel.png" /></a>
            <a href="/symfony/symfony"><img src="/assets/img/symfony.png" /></a>
            <a href="/drupal/drupal"><img src="/assets/img/drupal.png" /></a>
            <a href="/magento/magento2"><img src="/assets/img/magento.png" /></a>
            <a href="/wikimedia/mediawiki"><img src="/assets/img/mediawiki.png" /></a>
        </div>
    </div>
</div>
