<script src="/assets/js/vendor/d3.min.js" charset="utf-8"></script>
<script src="/assets/js/vendor/d3plus.min.js" charset="utf-8"></script>
<script src="/assets/js/QualityControl.js"></script>
<script src="/assets/js/visualizations/Data.js"></script>
<script src="/assets/js/visualizations/Abstract.js"></script>
<script src="/assets/js/visualizations/treemap/Abstract.js"></script>

{# Elaborate workaround to only include unique files #}
{% set files = [] %}
{% for grouper, charts in charts|groupby('files') %}
    {% for file in grouper %}
        {% if file not in files %}
            <script src="{{ file }}"></script>
        {% endif %}
    {% endfor %}
    {% set files = files + grouper %}
{% endfor %}

{% if commits %}
    {% if not commit %}{% set commit = commits[0] %}{% endif %}

    <div class="row">
        {% for chart in charts %}
            <div id="{{ chart.code }}" class="col-md-4">
                <h2><strong>{{ chart.name }}</strong> chart</h2>
                <a href="/{{ project.name }}/{{ chart.code }}">
                    <span class="chart"></span>
                </a>
            </div>
        {% endfor %}
    </div>

    <script>
        d3.json('/{{ analyzers.data_path }}/{{ project.name }}/{{ commit.hash }}.json', function(data) {
            var data = new QualityControl.Data(data),
                visualization, chart;

            {% for class, charts in charts|groupby('class') %}
                visualization = new {{ class }}(data);
                chart = new QualityControl(visualization);

                {% for chart in charts %}
                    chart.draw('#{{ chart.code }} .chart', ['{{ chart.code }}', {{ chart.range }}]);
                {% endfor %}
            {% endfor %}
        });
    </script>
{% else %}
    <div class="container">
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Couldn't find any commits for {{ project.name }}. If it was recently added, it may be importing.
        </div>
    </div>
{% endif %}
