<script src="/assets/js/vendor/d3.min.js" charset="utf-8"></script>
<script src="/assets/js/vendor/d3plus.min.js" charset="utf-8"></script>
<script src="/assets/js/Codegraphs.js"></script>
<script src="/assets/js/visualizations/Abstract.js"></script>
<script src="/assets/js/visualizations/treemap/Abstract.js"></script>
<script src="/assets/js/visualizations/treemap/Class.js"></script>
<script src="/assets/js/visualizations/treemap/Method.js"></script>
{% for graph in graphs %}
<script src="{{ graph.file }}"></script>
{% endfor %}


{% if commits %}
    {% if not commit %}{% set commit = commits[0] %}{% endif %}

    <div class="row">
        {% for graph in graphs %}
            <div id="{{ graph.code }}" class="col-md-4">
                <h2>{{ graph.name }}</h2>
                <a href="/{{ project.name }}/{{ graph.code }}">
                    <span class="graph"></span>
                </a>
            </div>
        {% endfor %}
    </div>

    <script>
        var graph = new Codegraphs('/data/{{ project.name }}/{{ commit.hash }}.json' );

        {% for graph in graphs %}
        graph.draw('#{{ graph.code }} .graph', new {{ graph.class }}());
        {% endfor %}
    </script>
{% else %}
    <p>Couldn't find any commits for {{ project.name }}. If it was recently added, it may be importing.</p>
{% endif %}
