<script src="/assets/js/vendor/d3.min.js"></script>
<script src="/assets/js/vendor/d3plus.min.js"></script>
<script src="/assets/js/Cauditor.js"></script>
<script src="/assets/js/visualizations/Data.js"></script>
<script src="/assets/js/visualizations/Abstract.js"></script>
<script src="/assets/js/visualizations/lineplot/Abstract.js"></script>
<script src="/assets/js/visualizations/lineplot/Project.js"></script>
<script>var jsonUrl = '/api/v1/{{ project.name }}/{{ project.default_branch }}/progress/{{ chart.code }}';</script>
<script src="/assets/js/page-specific/{{ template|replace('.html', '.js') }}"></script>

{% include 'utils/project_navbar.html' %}

{% if not commit %}
    {% include 'utils/commits_missing.html' %}
{% else %}
    <div class="chart" data-chart-code="{{ chart.code }}" data-chart-basis="{{ chart.basis }}" data-chart-range="{{ chart.range|join(',') }}"></div>
{% endif %}
