<script src="/assets/js/vendor/d3.min.js"></script>
<script src="/assets/js/vendor/d3plus.min.js"></script>
<script src="/assets/js/Cauditor.js"></script>
<script src="/assets/js/visualizations/Data.js"></script>
<script src="/assets/js/visualizations/Abstract.js"></script>
<script src="/assets/js/visualizations/lineplot/Abstract.js"></script>
<script src="/assets/js/visualizations/lineplot/User.js"></script>
<script src="/assets/js/page-specific/{{ template|replace('.html', '.js') }}"></script>

{% include 'utils/user_navbar.html' %}

{% if not user %}
    <div class="container">
        {% include 'utils/user_not_logged_in.html' %}
    </div>
{% else %}
    {% if not settings.emails %}
        <div class="container">
            <div class="row">
                <div class="col-xs-12 columns">
                    <div class="alert alert-danger" role="alert">
                        <i class="fa fa-exclamation-circle"></i>
                        Couldn't find any commits for {{ user.name }}. Please <a href="/user/settings" class="alert-link">fill out your git author email addresses</a> to locate your commits.
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <span class="chart" data-chart-code="{{ chart.code }}" data-chart-basis="{{ chart.basis }}" data-chart-range="{{ chart.range|join(',') }}"></span>
    {% endif %}
{% endif %}
