<div class="container">
    {% if not user %}
        <div class="container">
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                You are not currently logged in. Please <a class="alert-link" href="https://github.com/login/oauth/authorize?scope={{ github.scopes }}&client_id={{ github.id }}">authenticate via GitHub</a>.
            </div>
        </div>
    {% else %}
        {% set project_names = user_projects|map(attribute='name')|list %}
        {% set vendor = '' %}

        <div class="row">
            {# <table> is opened a couple of lines down, after outputting the new vendor title #}
                {#
                    We could repos|sort(attribute='name') to ensure they're all in correct order (per vendor),
                    but they seem to be in the correct order already and I don't really want vendors to be
                    ordered alphabetically (I want username vendor first, then organizations)
                #}
                {% for repo in repos %}
                    {% if vendor != repo.name.split('/')[0] %}
                        {% if vendor != '' %}
                            </table></div><hr /><div class="row"><table class="table">
                        {% endif %}

                        {% set vendor = repo.name.split('/')[0] %}
                        <h2 class="col-md-12"><strong>{{ vendor }}</strong></h2>
                        <table class="table">
                    {% endif %}

                    <tr class="repo {% if repo.private %}dimmed{% endif %}" data-repo="{{ repo.name }}">
                        <td class="col-md-6">
                            {% if repo.name in project_names %}<a href="/{{ repo.name }}">{% endif %}
                                <span class="title">{{ repo.name.split('/')[1] }}</span>
                            {% if repo.name in project_names %}</a>{% endif %}
                            {% if repo.fork %}<i title="{{ repo.name }} is a fork" class="fa fa-code-fork"></i>{% endif %}
                            {% if repo.private %}<i title="{{ repo.name }} is private" class="fa fa-lock"></i>{% endif %}
                            <a href="{{ repo.url }}" title="{{ repo.name }} on GitHub"><i class="fa fa-github"></i></a>
                        </td>
                        <td class="col-md-1">
                            <i class="fa fa-code"></i> {% if repo.language %}{{ repo.language }}{% else %}&hellip;{% endif %}
                        </td>
                        <td class="col-md-1 text-center">
                            <i class="fa fa-code-fork"></i> {{ repo.forks_count }}
                        </td>
                        <td class="col-md-1 text-center">
                            <i class="fa fa-star"></i> {{ repo.stargazers_count }}
                        </td>
                        <td class="col-md-1 text-right buttons">
                            {# If any content in this div changes, make sure those changes are also reflected in the JS below (yes I'm lazy here, both should reuse same code) #}
                            {% if repo.name in project_names %}
                                <a class="btn btn-danger link" data-repo="{{ repo.name }}" data-action="unlink"><i class="fa fa-unlink"></i> Unlink</a>
                            {% else %}
                                <a class="btn btn-primary {% if not repo.private %}link{% else %}disabled{% endif %}" href="#" data-repo="{{ repo.name }}" data-action="link"><i class="fa fa-link"></i> Link</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <script>
            $(document).on('click', '.link', function(e) {
                e.preventDefault();

                $.ajax({
                    url: '/api/link',
                    method: 'POST',
                    data: $(this).data()
                })
                .done(function(data) {
                    var $button = $(e.target),
                        $title = $button.closest('.repo').find('.title'),
                        $div = $button.parent('.buttons').empty(),
                        action = $button.data('action');

                    if (action === 'link') {
                        // we just linked the repo
                        $div.append('<a class="btn btn-danger link" data-repo="'+ data.name +'" data-action="unlink"><i class="fa fa-unlink"></i> Unlink</a>');
                        $title.wrap('<a href="/'+ data.name +'"></a>');
                    } else if (action === 'unlink') {
                        // we just unlinked the repo
                        $div.append('<a class="btn btn-primary link" href="#" data-repo="'+ data.name +'" data-action="link"><i class="fa fa-link"></i> Link</a>');
                        $title.unwrap('<a href="/'+ data.name +'"></a>');
                    }
                })
                .fail(function() {
                    // @todo better error handling; this is piss-poor!
                    alert('Failed to link project & this error handling is extremely poor! Try logging in again?');
                });
            });

            $.ajax({
                url: '/api/repos',
                method: 'GET'
            })
            .done(function(data) {
                var existing = [],
                    current = data.map(function(repo) {
                        return repo.name;
                    });

                $('.repo').each(function() {
                    existing.push($(this).data('repo'));
                });

                if (existing.sort().toString() !== current.sort().toString()) {
                    // @todo: ideally, I would re-render in-page, not refresh
                    location.reload();
                }
            })
        </script>
    {% endif %}
</div>
