<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <title>Codegraphs: {% if user %}{{ user.name }}{% else %}login{% endif %}</title>

    <link href="/assets/css/styles.css" rel="stylesheet">
</head>
<body>
    {% if user %}
        Hi there, {{ user.name }}!

        Repos:
        <ul>
            {% for repo in repos %}
                <li>{{ repo.project }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <a href="https://github.com/login/oauth/authorize?scope={{ github.scopes }}&client_id={{ github.id }}">Take me to GitHub</a>
    {% endif %}
</body>
</html>
