{% include 'utils/user_navbar.html' %}

{% if not user %}
    {% include 'utils/user_not_logged_in.html' %}
{% else %}
    <script src="/assets/js/vendor/bootstrap-tagsinput.min.js"></script>
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap-tagsinput.css">
    <script src="/assets/js/page-specific/{{ template|replace('.html', '.js') }}"></script>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="emails" class="col-sm-2">Git author email(s)</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="emails" name="emails" placeholder="name@example.com" value="{{ settings.emails|replace('"', '&quot;') }}" />
                        </div>
                        <div class="col-sm-offset-2 col-sm-10">
                            <small>
                                List the email addresses you've committed code with (<code>git config user.email</code>) to locate
                                your commits and <a href="/user/progress">get insights</a>.
                            </small>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endif %}
