<div class="logo-strip">
    <div class="container">
        <div class="row" style="padding: 0;">
            <div class="col-xs-4 col-sm-2">
                <a href="/WordPress/WordPress"><img src="/assets/img/wordpress.png" class="img-responsive" /></a>
            </div>
            <div class="col-xs-4 col-sm-2">
                <a href="/symfony/symfony"><img src="/assets/img/symfony.png" class="img-responsive" /></a>
            </div>
            <div class="col-xs-4 col-sm-2">
                <a href="/wikimedia/mediawiki"><img src="/assets/img/mediawiki.png" class="img-responsive" /></a>
            </div>
            <div class="col-xs-4 col-sm-2">
                <a href="/drupal/drupal"><img src="/assets/img/drupal.png" class="img-responsive" /></a>
            </div>
            <div class="col-xs-4 col-sm-2">
                <a href="/laravel/laravel"><img src="/assets/img/laravel.png" class="img-responsive" /></a>
            </div>
            <div class="col-xs-4 col-sm-2">
                <a href="/phpbb/phpbb"><img src="/assets/img/phpbb.png" class="img-responsive" /></a>
            </div>
        </div>
    </div>
</div>
