<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-danger" role="alert">
                <i class="fa fa-exclamation-circle"></i>
                You are not currently logged in. Please <a href="https://github.com/login/oauth/authorize?scope={{ github.scopes }}&client_id={{ github.id }}&redirect_uri={{ site.host }}/user/login{{ uri }}" class="alert-link">authenticate via GitHub</a>.
            </div>
        </div>
    </div>
</div>
