<script src="/assets/js/vendor/highcharts/highcharts.js"></script>
<script src="/assets/js/vendor/highcharts/modules/heatmap.js"></script>
<script src="/assets/js/vendor/highcharts/modules/treemap.js"></script>
<script src="/assets/js/Cauditor.js"></script>
<script src="/assets/js/visualizations/Data.js"></script>
<script src="/assets/js/visualizations/Abstract.js"></script>
<script src="/assets/js/visualizations/treemap/Abstract.js"></script>
{% for file in chart.files %}
    <script src="{{ file }}"></script>
{% endfor %}

{% include 'project_navbar.html' %}

{% if not commits %}
    {% include 'utils/commits_missing.html' %}
{% else %}
    {% if not commit %}{% set commit = commits[0] %}{% endif %}
    <div class="chart"></div>

    <script>
        $.ajax({
            url: '{{ data.path|replace('{pwd}', '') }}/{{ data.filename|replace('{project}', project.name)|replace('{hash}', commit.hash) }}',
            datatype: 'json',
            success: function(data) {
                var data = new Cauditor.Data(data),
                    visualization = new {{ chart.class }}(data),
                    chart = new Cauditor(visualization);

                chart.draw('.chart', ['{{ chart.code }}', {{ chart.range }}]);
            }
        });
    </script>
{% endif %}
