<script src="/assets/js/vendor/d3.min.js"></script>
<script src="/assets/js/vendor/d3plus.min.js"></script>
<script src="/assets/js/Cauditor.js"></script>
<script src="/assets/js/visualizations/Data.js"></script>
<script src="/assets/js/visualizations/Abstract.js"></script>
<script src="/assets/js/visualizations/treemap/Abstract.js"></script>
<script src="/assets/js/visualizations/treemap/Method.js"></script>
<script>
var jsonUrls = {
    {% for project in imported_repos %}
        {% if project.name in commits %}
            '{{ project.name }}': '{{ data.path|replace('{pwd}', '') }}/{{ data.filename|replace('{project}', project.name)|replace('{hash}', commits[project.name].hash) }}',
        {% endif %}
    {% endfor %}
};
</script>
<script src="/assets/js/page-specific/{{ template|replace('.html', '.js') }}"></script>

{% include 'utils/project_navbar.html' %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 columns">
            <h2 style="display: inline">Welcome back, {{ user.name }}!</h2>

            {% if imported_repos %}
                {% set random_repo = imported_repos|random %}
                {% set messages = [
                    'Want to analyze <strong><a href="/user">another repo</a></strong>?',
                    'How have <strong><a href="/user/progress">you been doing</a></strong> lately?',
                    "How's <strong><a href='/" ~ random_repo.name ~ "'>" ~ random_repo.name ~ "</a></strong> doing?",
                    "How's <strong><a href='/" ~ random_repo.name ~ "'>" ~ random_repo.name ~ "</a></strong> doing?",
                    "How's <strong><a href='/" ~ random_repo.name ~ "'>" ~ random_repo.name ~ "</a></strong> doing?",
                ] %}
                <p style="display: inline">{{ messages|random }}</p>
            {% else %}
                <p style="display: inline">How about we analyze <strong><a href="/user">one of your repos</a></strong>?</p>
            {% endif %}
        </div>
    </div>

    <div class="row">
        {% for project in imported_repos %}
            <div id="{{ project.name|replace('/', '_') }}" class="col-xs-12 col-md-6">
                <div class="col-xs-12 col-sm-6 col-md-6 columns" style="height: 175px; overflow:hidden; padding: 0"> {# Fixed height so long project name can't break columns flowing next/under each other #}
                    <h3><a href="/{{ project.name }}">{{ project.name }}</a></h3>

                    <table class="table table-condensed">
                        <tbody>
                            <tr>
                                <td style="width: 85px">Rank</td>
                                <td>
                                    {% if project.name in commits %}
                                        <strong>{{ project.score|rank|int }}</strong>%
                                    {% else %}
                                        <i class="fa fa-spin fa-spinner"></i>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>Branch</td>
                                <td>{{ project.default_branch }}</td>
                            </tr>
                            <tr>
                                <td>Commit</td>
                                <td>{{ commits[project.name].timestamp|datetime if project.name in commits else '<i class="fa fa-spin fa-spinner"></i>' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 columns">
                    {% if project.name in commits %}
                        <a href="/{{ project.name }}/metrics">
                            {% for chart in charts %}
                                {% if chart.code == 'mi' %}
                                    <span class="chart" data-chart-code="{{ chart.code }}" data-chart-basis="{{ chart.basis }}" data-chart-range="{{ chart.range|join(',') }}"></span>
                                {% endif %}
                            {% endfor %}
                        </a>
                    {% else %}
                        {# Not yet imported... #}
                        <span class="chart" style="background-color:#ddd"></span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        <div class="col-xs-12 col-md-6">
            <div class="col-xs-12 col-sm-6 col-md-6 columns" style="height: 175px; overflow:hidden; padding: 0">
                <h3><a href="/user/repos"><i class="fa fa-plus-circle"></i> Add repo</a></h3>

                <table class="table table-condensed">
                    <tbody>
                        <tr>
                            <td style="width: 85px">Rank</td>
                            <td>&hellip;</td>
                        </tr>
                        <tr>
                            <td>Branch</td>
                            <td>&hellip;</td>
                        </tr>
                        <tr>
                            <td>Commit</td>
                            <td>&hellip;</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 columns">
                <a href="/user/repos">
                    <span class="chart">
                        <span class="chart" style="background-color:#ddd"></span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
