<script src="/assets/js/vendor/d3.min.js" charset="utf-8"></script>
<script src="/assets/js/vendor/d3plus.min.js" charset="utf-8"></script>
<script src="/assets/js/Cauditor.js"></script>
<script src="/assets/js/visualizations/Data.js"></script>
<script src="/assets/js/visualizations/Abstract.js"></script>
<script src="/assets/js/visualizations/lineplot/Abstract.js"></script>

{% if commits %}
<div class="container">
    <div class="row" style="padding: 0;">
        <div class="col-md-12 columns">
            <div class="panel panel-default">
                <div class="panel-body">
                    <i class="fa fa-info-circle"></i>
                    Changes in metrics per commit, averaged per month. The top & bottom 5% outliers are excluded.
                </div>
            </div>
        </div>
    </div>
</div>

{% for chart in charts %}
<div class="chart-row">
    <div class="container">
        <div class="row">
            <div id="{{ chart.code }}" class="col-xs-12 columns">
                <h2><strong>{{ chart.name }}</strong></h2>
                <span class="chart"></span>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<script>
    var data = [],
        commit, visualization, chart,
        total, average;

    {% for commit in commits %}
        commit = $.extend({}, {{ commit.metrics }}, { date: '{{ commit.timestamp.strftime('%Y-%m') }}' });
        data.push(commit);
    {% endfor %}

    data = new Cauditor.Data(data);
    visualization = new Cauditor.Visualization.Lineplot.Abstract(data);
    chart = new Cauditor(visualization);

    data = visualization.data;

    {% for chart in charts %}
        chart.draw('#{{ chart.code }} .chart', ['{{ chart.code }}']);

        // calculate averages & append to title
        total = data['{{ chart.code }}'].reduce(function(previous, current) {
            previous += current.score;
            return previous;
        }, 0);
        average = total / data['{{ chart.code }}'].length;
        average = Math.round(average * 10000) / 10000;
        $('#{{ chart.code }} h2').append(': <span style="text-transform: none">' + average + ' avg</span>');
    {% endfor %}
</script>
{% else %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 columns">
            <div class="alert alert-danger" role="alert">
                <i class="fa fa-exclamation-circle"></i>
                {% if not settings.emails %}
                    Couldn't find any commits for {{ user.name }}. Please <a href="/user#details" class="alert-link">fill out your git author email addresses</a> to locate your commits.
                {% else %}
                    Couldn't find any commits for {{ settings.emails }}. <a href="/user#repos" class="alert-link">Add some of your work</a> or <a href="/user#details" class="alert-link">complete your author email addresses</a>. If projects were recently added, they may still be importing.
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}
