<script src="/assets/js/vendor/d3.min.js"></script>
<script src="/assets/js/vendor/d3plus.min.js"></script>
<script src="/assets/js/Cauditor.js"></script>
<script src="/assets/js/visualizations/Data.js"></script>
<script src="/assets/js/visualizations/Abstract.js"></script>
<script src="/assets/js/visualizations/treemap/Abstract.js"></script>
<script src="/assets/js/visualizations/treemap/Method.js"></script>

{% include 'utils/project_navbar.html' %}

{% if not commit %}
    {% include 'utils/commits_missing.html' %}
{% else %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 columns">
                {% set rank = project.score|rank %}
                <div class="score">
                    {# Show arrow to indicate how good/bad this score is! #}
                    <div class="range-arrow" style="top: {{ rank|int }}%">&blacktriangleleft;</div>

                    <p class="rank">
                        <span>
                            <strong>{{ rank|int }}</strong>%
                        </span>
                        of analyzed projects are more complex!
                    </p>
                </div>
            </div>

            <div class="col-xs-12 col-md-4 columns">
                <div class="summary_chart">
                    <p class="arrow">
                        &blacktriangleright;
                    </p>
                    <p class="text">
                        Visualization of complexity in your project.<br />
                        <strong>Greener = less complex = better!</strong><br />
                        <i>Hover chart for details or click to learn more.</i>
                    </p>
                </div>

                <hr />

                <div class="summary_commits">
                    <p>
                        Changes in complexity in analyzed commits.<br />
                        <i>
                            Also available as
                            <a href="/{{ project.name }}/progress">
                                <span class="label label-primary">
                                    charts <i class="fa fa-long-arrow-right"></i>
                                </span>
                            </a>,
                            to help expose potentially bad (or just complex) commits.
                        </i>
                    </p>
                    <p class="arrow">
                        &blacktriangledown;
                    </p>
                </div>
            </div>

            <div class="col-xs-12 col-md-4 columns">
                <a href="/{{ project.name }}/metrics" class="metrics">
                    <span class="chart"></span>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 columns">
                <table class="table table-striped table-hover table-condensed">
                    <thead>
                        <tr>
                            <th class="col-xs-1 text-center">
                            </th>
                            <th class="col-xs-2">
                                Commit
                            </th>
                            <th class="col-xs-2">
                                Branch
                            </th>
                            <th class="col-xs-3">
                                Timestamp
                            </th>
                            <th class="col-xs-1">
                                Average
                            </th>
                            <th class="col-xs-1">
                                Worst
                            </th>
                            <th class="col-xs-2">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for commit in commits %}
                            {% if commit.previous in prev_commits %}
                            {% set score = commit|score %}
                            {% set prev_score = prev_commits[commit.previous]|score %}
                            <tr class="{% if score > prev_score %}positive{% elif score < prev_score %}negative{% endif %}">
                            {% else %}
                            <tr>
                            {% endif %}
                                <td class="col-xs-1 text-center">
                                    {% if commit.previous in prev_commits %}
                                        {% set score = commit|score %}
                                        {% set prev_score = prev_commits[commit.previous]|score %}
                                        {% if score > prev_score %}
                                            <i class="fa fa-caret-up green-text"></i>
                                        {% elif score < prev_score %}
                                            <i class="fa fa-caret-down red-text"></i>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td class="col-xs-2">
                                    <i class="fa fa-code"></i>
                                    <strong>
                                        <a href="/{{ project.name }}/{{ commit.hash }}/metrics">{{ commit.hash|truncate(7, True, "") }}</a><br />
                                    </strong>
                                </td>
                                <td class="col-xs-2">
                                    <i class="fa fa-code-fork"></i>
                                    {{ commit.branch }}
                                </td>
                                <td class="col-xs-3">
                                    {{ commit.timestamp|datetime }}
                                </td>
                                <td class="col-xs-1">
                                    {{ commit.avg_mi }}
                                </td>
                                <td class="col-xs-1">
                                    {{ commit.worst_mi }}
                                </td>
                                <td class="col-xs-2 text-center">
                                    <a href="/{{ project.name }}/{{ commit.hash }}/metrics">
                                        Metrics <i class="fa fa-long-arrow-right"></i>
                                    </a>
                                </td>
                            </tr>

                            {% if loop.last %}
                                {% if commit.previous and commits|length == batch_size %}
                                    <tr>
                                        <td colspan="8" class="col-xs-12 text-center load-more">
                                            <a href="#">Load more</a>
                                        </td>
                                    </tr>
                                {% elif commit.previous %}
                                    <tr>
                                        <td colspan="8" class="col-xs-12 text-center">
                                            Commit history is incomplete. Missing commits should be imported soon!
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        var hashes = [
            {% for commit in commits %}"{{ commit.hash }}"{% if not loop.last %},{% endif %}{% endfor %}
        ], batch = {{ batch_size }}, promise;

        $.ajax({
            url: '{{ data.path|replace('{pwd}', '') }}/{{ data.filename|replace('{project}', project.name)|replace('{hash}', commit.hash) }}',
            datatype: 'json',
            success: function(data) {
                var chart = new Cauditor(
                    new Cauditor.Visualization.Treemap.Method(),
                    new Cauditor.Data(data)
                );

                {% for chart in charts %}
                    {% if chart.code == 'mi' %}
                        chart.draw('.metrics .chart', ['{{ chart.code }}', {{ chart.range }}, false]);
                    {% endif %}
                {% endfor %}
            }
        });

        $('.load-more a').click(function(e) {
            var element = this;

            e.preventDefault();

            if (!promise) {
                promise = $.ajax({
                    url: '/api/v1/{{ project.name }}/{{ project.default_branch }}',
                    datatype: 'json'
                });
            }

            // we've started fetching this data on pageload already (for some chart), but
            // it may not yet be available, so indicate that we're actually doing something!
            $(this).after(' <i class="fa fa-spinner fa-spin"></i>');

            promise
                .always(function() {
                    // success or failure, get rid of that spinner!
                    $(element).next('.fa-spinner').remove();
                })
                .done(function(commits) {
                    var count = 0, map = {};

                    // sort on date: newest first
                    commits.sort(function(a, b) {
                        return a.timestamp < b.timestamp ? 1 : -1;
                    });

                    // the next commit (datewise) may not actually be the next one;
                    // our timestamp is author timestamp
                    // we'll want to find the real previous commit (for which we have
                    // the hash), so having a map to locate it will be useful
                    for (i in commits) {
                        map[commits[i].hash] = commits[i];
                    }

                    for (i in commits) {
                        if (hashes.indexOf(commits[i].hash) < 0) {
                            hashes.push(commits[i].hash);

                            append.call(
                                $(element).closest('tr').get(0),
                                commits[i],
                                map[commits[i].previous] || {}
                            );

                            if (++count >= batch) {
                                return;
                            }
                        }
                    }

                    // if we make it here, there are no commits left - let's check if this is actually the first commit!
                    if (commits[commits.length - 1].previous) {
                        $(element).closest('tr').before('\
                            <tr>\
                                <td colspan="8" class="col-xs-12 text-center">\
                                    Commit history is incomplete. Missing commits should be imported soon!\
                                </td>\
                            </tr>\
                        ');
                    }

                    // no more commits left; get rid of "load more" link
                    $(element).closest('tr').remove();
                });
        });

        function append(commit, prev) {
            var indicator = '', classname = '', score, prev_score;
            if (prev) {
                score = (commit.worst_mi + commit.avg_mi) / 2;
                prev_score = (prev.worst_mi + prev.avg_mi) / 2;
                if (score > prev_score) {
                    indicator = '<i class="fa fa-caret-up green-text"></i>';
                    classname = 'positive';
                } else if (score < prev_score) {
                    indicator = '<i class="fa fa-caret-down red-text"></i>';
                    classname = 'negative';
                }
            }

            $(this).before('\
                <tr class="' + classname + '">\
                    <td class="col-xs-1 text-center">\
                        ' + indicator + '\
                    </td>\
                    <td class="col-xs-2">\
                        <i class="fa fa-code"></i>\
                        <strong>\
                            <a href="/' + commit.project + '/' + commit.hash + '/metrics">' + commit.hash.substr(0, 7) + '</a><br />\
                        </strong>\
                    </td>\
                    <td class="col-xs-2">\
                        <i class="fa fa-code-fork"></i>\
                        ' + commit.branch + '\
                    </td>\
                    <td class="col-xs-3">\
                        ' + commit.timestamp.replace('T', ' ') + '\
                    </td>\
                    <td class="col-xs-1">\
                        ' + commit.avg_mi + '\
                    </td>\
                    <td class="col-xs-1">\
                        ' + commit.worst_mi + '\
                    </td>\
                    <td class="col-xs-2 text-center">\
                        <a href="/{{ project.name }}/{{ commit.hash }}/metrics">\
                            <a href="/' + commit.project + '/' + commit.hash + '/metrics">Metrics <i class="fa fa-long-arrow-right"></i></a>\
                        </a>\
                    </td>\
                </tr>\
            ');
        }
    </script>
{% endif %}
