<script src="/assets/js/vendor/d3.min.js"></script>
<script src="/assets/js/vendor/d3plus.min.js"></script>
<script src="/assets/js/Cauditor.js"></script>
<script src="/assets/js/visualizations/Data.js"></script>
<script src="/assets/js/visualizations/Abstract.js"></script>
<script src="/assets/js/visualizations/treemap/Abstract.js"></script>
<script src="/assets/js/visualizations/treemap/Method.js"></script>
<script src="/assets/js/visualizations/treemap/Class.js"></script>
<script>var jsonUrl = '{{ data.path|replace('{pwd}', '') }}/{{ data.filename|replace('{project}', project.name)|replace('{hash}', commit.hash) }}';</script>
<script src="/assets/js/page-specific/{{ template|replace('.html', '.js') }}"></script>

{% include 'utils/project_navbar.html' %}

{% if not commit %}
    {% include 'utils/commits_missing.html' %}
{% else %}
    <div class="container">
        <div class="row" style="padding: 0;">
            <div class="col-md-12 columns">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <i class="fa fa-info-circle"></i>
                        Square size = lines of code. Square color = metric score. <strong>Focus on anomalies</strong>.

                        {# This link will expand below panel-body (see JS later in this tpl) #}
                        <a id="expand-panel">More&hellip;</a>
                    </div>
                    <div class="panel-body panel-more" style="display: none;">
                        <p>
                            The size of the square represents the amount of lines of code in that method/class.
                            The color is determined by the metric score, ranging from green to red. <br />
                            <strong>Red means worse</strong>.
                        </p>
                        <p style="margin-bottom: 0;">
                            Focus on really high or unexpected red spots. Red spots are not necessarily bad! Not all code is alike and different problems need different solutions.<br />
                            E.g. you're likely to find a higher complexity where your business logic lives.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        {% for class, grouped_charts in charts|groupby('basis')|sort(true) %}
            <div class="row">
                {% for chart in grouped_charts %}
                    <div class="col-xs-12 col-md-4 columns">
                        <h2>
                            <strong>{{ chart.name }}</strong>
                            <a href="/help/metrics#{{ chart.code }}" title="What is {{ chart.name }}?">
                                <i class="fa fa-question-circle"></i>
                            </a>
                        </h2>
                        <a href="/{{ project.name }}/{% if route.commit %}{{ commit.hash }}/{% endif %}{{ chart.code }}">
                            <span class="chart" data-chart-code="{{ chart.code }}" data-chart-basis="{{ chart.basis }}" data-chart-range="{{ chart.range|join(',') }}"></span>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endif %}
