{% include 'utils/user_navbar.html' %}

<div class="container">
    {% if not user %}
        <div class="row">
            <div class="col-xs-12 columns">
                <div class="alert alert-danger" role="alert">
                    <i class="fa fa-exclamation-circle"></i>
                    You are not currently logged in. Please <a href="https://github.com/login/oauth/authorize?scope={{ github.scopes }}&client_id={{ github.id }}" class="alert-link">authenticate via GitHub</a>.
                </div>
            </div>
        </div>
    {% else %}
        {% if not settings.emails %}
            <div class="row">
                <div class="col-xs-12 columns">
                    <div class="alert alert-danger" role="alert">
                        <i class="fa fa-exclamation-circle"></i>
                        Couldn't find any commits for {{ user.name }}. Please <a href="/user/settings" class="alert-link">fill out your git author email addresses</a> to locate your commits.
                    </div>
                </div>
            </div>
        {% else %}
            <script src="/assets/js/vendor/d3.min.js"></script>
            <script src="/assets/js/vendor/d3plus.min.js"></script>
            <script src="/assets/js/Cauditor.js"></script>
            <script src="/assets/js/visualizations/Data.js"></script>
            <script src="/assets/js/visualizations/Abstract.js"></script>
            <script src="/assets/js/visualizations/lineplot/Abstract.js"></script>
            <script src="/assets/js/visualizations/lineplot/User.js"></script>
            <script src="/assets/js/page-specific/{{ template|replace('.html', '.js') }}"></script>

            {# Prepare error msg for when we can't find relevant commits; then all we have to do is unhide this #}
            <div class="rows no-commits" style="display: none">
                <div class="col-xs-12 columns">
                    <div class="alert alert-danger" role="alert">
                        <i class="fa fa-exclamation-circle"></i>
                        Couldn't find any commits for {{ settings.emails }}. <a href="/user" class="alert-link">Add some of your work</a> or <a href="/user/settings" class="alert-link">complete your author email addresses</a>. If projects were recently added, they may still be importing.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 columns">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <i class="fa fa-info-circle"></i>
                            These should be interpreted in the right context.
                            High complexity can mean you've done a terrible job, or you've just tackled the nastiest problem.
                        </div>
                    </div>
                </div>
            </div>

            {% for class, grouped_charts in charts|groupby('basis')|sort(true) %}
                <div class="row">
                    {% for chart in grouped_charts %}
                        <div id="{{ chart.code }}" class="col-xs-12 col-md-4 columns">
                            <h2>
                                <strong>{{ chart.name }}</strong>
                                <a href="/help/metrics#{{ chart.code }}" title="What is {{ chart.name }}?">
                                    <i class="fa fa-question-circle"></i>
                                </a>
                            </h2>
                            <a href="/user/progress/{{ chart.code }}">
                                <span class="chart" data-chart-code="{{ chart.code }}" data-chart-basis="{{ chart.basis }}" data-chart-range="{{ chart.range|join(',') }}"></span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}
</div>
