.chart {
    display: inline-block;
    min-height: 225px;
    height: 100%;
    width: calc(100% - 30px);
    margin: 0 15px;
}

.row .chart {
    margin: 0;
    width: 100%;
}

body[data-template="index_logged_in.html"] .chart {
    min-height: 150px;
}

a .chart .d3plus_rect {
    cursor: pointer !important;
}

.d3plus_tooltip_title,
.d3plus_tooltip_data_block {
    font-size: 16px !important;
    color: #000 !important;
}
