.chart {
    display: block;
    display: inline-block;
    min-height: 275px;
    height: 100%;
    width: calc(100% - 30px);
    margin: 0 15px;
}

.row .chart {
    margin: 0;
    width: 100%;
}

.d3plus_tooltip_title {
    font-size: 14px !important;
    color: #000 !important;
}
