/* Homepage navbar should be completely transparent with white text */
body[data-template="index.html"] .navbar-fixed-top,
body[data-template="index_logged_in.html"] .navbar-fixed-top,
body[data-template="index.html"] .navbar-fixed-top ul.navbar-nav > .open > a,
body[data-template="index_logged_in.html"] .navbar-fixed-top ul.navbar-nav > .open > a,
body[data-template="index.html"] .navbar-fixed-top ul.navbar-nav > li > a:focus,
body[data-template="index_logged_in.html"] .navbar-fixed-top ul.navbar-nav > li > a:focus {
    background: none;
    border: none;
}
body[data-template="index.html"] .navbar-fixed-top ul.navbar-nav > li > a:not(:hover),
body[data-template="index_logged_in.html"] .navbar-fixed-top ul.navbar-nav > li > a:not(:hover) {
    color: #fff;
}

.hero {
    position: relative;
    height: 600px;
    padding-top: 175px;

    /* Pull back to top, under navbar */
    margin-top: -70px;

    color: #fff;
    font-family: Lato, Helvetica, arial, sans-serif;
    line-height: 40px;
    font-size: 20px;
}

.hero a:not(.btn) {
    color: #fff;
}
.hero a:not(.btn):hover {
    text-decoration: underline;
}

.hero h1 {
    font-size: 50px;
}
.hero h2 {
    font-size: 25px;
    text-transform: none;
}

/* I can't just apply this on .hero because I want to blur the image */
.hero::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-filter: blur(2px);
    filter: blur(2px);
}

.hero-1::before {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url('../img/hero1.jpg');
    background-position: center bottom;
}

/* Strip of logos, charts */
.logo-strip a {
    /* There are 8 logos in here - distribute them evenly */
    /* The -8 is for what I guess is rounding issues, because they seem to total >100% */
    width: calc(100% / 8 - 8px);
    margin: 0;
}
.logo-strip img {
    padding: 35px 15px;
    width: inherit;
}
.logo-strip img:not(:hover) {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.logo-strip,
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #fff;
}
.logo-strip img:hover {
    background: #f3f3f3;
}

.features img {
    width: 100%;
    height: 200px;
}
