a.navbar-brand {
    position: relative;
    text-indent: -9999px;

    width: 75px;
    padding: 0;
}

/*
 * Need ::before to hack around the fact that a background image
 * can't be bigger than the node it's on
 */
a.navbar-brand::after {
    content: "";
    width: 70px;
    height: 70px;

    position: absolute;
    top: 0;
    left: 0;

    background: url(../img/logo.png) no-repeat;
    background-size: 70px;
}

a.navbar-brand:not(:hover) {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
