/* Navbar links shouldn't have a colored background */
body ul.navbar-nav >li > a:hover {
    background-color: inherit !important;
}

/* Change font size */
nav,
nav .dropdown-menu,
.secondary-nav,
.secondary-nav .dropdown-menu {
    font-size: 13px;
}

/* Dropdown arrow should have some space */
nav i:last-child {
    padding-left: 5px;
}

nav .dropdown-menu i:last-child {
    padding-left: 0;
}

/* Padding & font-size shouldn't dictate navbar height */
nav a {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 50px !important;
    line-height: 50px !important;
}

/* User avatar should be full nav height and have no more padding on the right */
.nav > li > a.avatar {
    padding-right: 0;
}
.nav > li > a.avatar > img {
    height: inherit;
    padding-left: 10px;
    vertical-align: top;
}

/* Pull secondary nav in between primary nav & make it look similar */
.secondary-nav {
    z-index: 9999;
    /* Content preserves 70px for main header & we want to keep 20px, so pull it up only 50px */
    margin-top: -50px;
    margin-bottom: 20px;

    background-color: #fff;
    border: 1px solid #ddd;
    padding: 0 !important;

}

/* Bigger "links" */
.secondary-nav > ul > li > a {
    line-height: 70px !important;
    height: 70px !important;
    padding: 0;
}
.secondary-nav ul.dropdown-menu a {
    padding-top: 12px;
    padding-bottom: 12px;
}
