@import "sticky-footer.css";
@import "font.css";
@import "navbar.css";
@import "logo.css";
@import "chart.css";
@import "colors.css";
@import "home.css";

html, body {
    padding: 0;
    margin: 0;
}

/* I'm not too big on those rounded corners... */
* {
  border-radius: 0 !important;
}

.row {
    padding: 20px 0 30px;
}

.dimmed {
    opacity: 0.5;
    -moz-opacity: 0.5;
    -webkit-opacity: 0.5;
}

/* Temporary beta label */
body::before {
    content: "BETA";
    font-family: Lato, Helvetica, arial, sans-serif;
    font-weight: 100;
    font-size: 25px;
    line-height: 35px;
    text-align: center;

    color: #f00;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 3px #ddd;

    z-index: 9999;
    position: fixed;
    width: 250px;
    top: 15px;
    left: -85px;

    transform: rotate(-45deg);
}

/* Strip of logos, charts */
.logo-strip a {
    /* There are 8 logos in here - distribute them evenly */
    /* The -8 is for what I guess is rounding issues, because they seem to total >100% */
    width: calc(100% / 8 - 8px);
    margin: 0;
}
.logo-strip img {
    padding: 20px 20px;
    width: inherit;
}
.logo-strip img:not(:hover) {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

/* Make linked repos stand out more (may not be obvious it's a link) */
a .title {
    font-weight: bold;
}
