<div class="container">
    <div class="col-sm-0 col-md-2"></div>
    <div class="row secondary-nav col-sm-12 col-md-7">
        <ul class="nav nav-pills nav-justified">
            <li role="presentation" {% if template == 'user_repos.html' %}class="active"{% endif %}><a href="/user"><i class="fa fa-code-fork"></i> Repositories</a></li>
            <li role="presentation" {% if template == 'user_settings.html' %}class="active"{% endif %}><a href="/user/settings"><i class="fa fa-cogs"></i> Details</a></li>
            <li role="presentation" {% if template == 'user_all_progress.html' %}class="active"{% endif %}><a href="/user/progress"><i class="fa fa-line-chart"></i> Progress</a></li>
        </ul>
    </div>
</div>
